{% extends 'layout.html' %}
{% load static %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-color: #0085A1">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Connexion</h1>
                    <span class="subheading">Obtenez un nouveau mot de passe</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Reset Form -->
<div style="max-width: 800px; margin: auto; text-align: center;">
	<h2>Réinitialisation du mot de passe </h2>
	<p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
	<form method="post">
		{% csrf_token %}
		{% if form.email.errors %}
			{% for error in form.email.errors %}
			<p class="alert alert-danger">{{ error }}</p>
			{% endfor %}
		{% endif %}
		<p>{{ form.email.label_tag }} {{ form.email }}</p>
		<button class="btn btn-primary" style="border-radius: 20%; margin: auto;" type="submit">M'envoyer les instructions</button>
	</form>
</div>


{% endblock %}